<section class="portfolio-content">
    <article class="presentation">
        <img src="../../../assets/photo-portfolio.jpg" alt="Photo Portfolio">
        <ul class="cloud-data">
            <li><a href="https://1drv.ms/b/c/f5614cd88f7c8bc1/EcGLfI_YTGEggPWxPAAAAAABqMNX2rHFj_y7T26ZJN75nw?e=ZSrQWk" target="_blank"><i class="fa-solid fa-graduation-cap"></i> Titulo Tec. Telecomunicaciones</a></li>
            <li><a href="https://1drv.ms/f/c/f5614cd88f7c8bc1/EsGLfI_YTGEggPXnPAAAAAAB9vBzQlgqpWjKXqAX1rRBVg?e=adNywX" target="_blank"><i class="fa-solid fa-certificate"></i> Certificaciones</a></li>
            <li><a href="https://1drv.ms/b/c/f5614cd88f7c8bc1/EZsXUgGSv21GhQ_8W9GN-uwBUTh3gB6LkAZ1ISFO3Fe_Iw?e=zpbvuL" target="_blank"><i class="fa-regular fa-file"></i> Curriculum</a></li>
        </ul>
    </article>
    <article class="resume">
        <section class="content">
            <h1>RESUMEN PROFESIONAL</h1><hr>
            <p>Soy un profesional responsable y comprometido, con habilidades en trabajo en equipo, resiliencia, empatía y adaptabilidad. Estudio Ingeniería en Informática, desarrollando competencias en administración y desarrollo de software, metodologías ágiles y resolución de problemas. Además, cuento con certificaciones en herramientas para el desarrollo de aplicaciones.</p>
        </section>
        <section class="content">
            <h1>EXPERIENCIA LABORAL</h1><hr>
            <ul>
                <li><span class="resume-title">E-SIGN S.A.</span> SysAdmin - Operador TLS/SSL <span class="resume-title">2023 - 2024</span></li>
                <br>
                <li><span class="resume-title">E-SIGN S.A.</span> Mesa de Ayuda <span class="resume-title">2021 - 2023</span></li>
            </ul>
        </section>
        <section class="content">
            <h1>EDUCACIÓN</h1><hr>
            <ul>
                <li><span class="resume-title">Ingeniería en Informática</span> Instituto Profesional Santo Tomas <span class="resume-title">2023 - Actualidad</span></li>
                <br>
                <li><span class="resume-title">Analista Programador</span> Instituto Profesional Santo Tomas <span class="resume-title">2023 - 2025</span></li>
                <br>
                <li><span class="resume-title">Técnico en Telecomunicaciones</span> Colegio Piamarta <span class="resume-title">2020 - 2021</span></li>
                <br>
                <li><span class="resume-title">Educación Básica y Media completa</span> Colegio Piamarta <span class="resume-title">2010 - 2021</span></li>
                <br>
            </ul>
        </section>
        <section class="content">
            <h1>CANALES DE CONTACTO</h1><hr>
            <ul class="contact-zone">
                <li><a href="https://www.instagram.com/marcoo.f23/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                <li><a href="https://www.linkedin.com/in/mfigueroa23/" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
                <li><a href="https://github.com/CiscoFsociety23" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a></li>
                <li><a href="mailto:marco_figueroa23@outlook.cl" target="_blank"><i class="fa-solid fa-envelope"></i> Correo</a></li>
            </ul>
        </section>
    </article>
</section>
