.portfolio-content {
    margin-top: 4rem;
    overflow: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 1rem 2rem;
    padding: 0 2rem;
}

.portfolio-content article img {
    width: 7rem;
    border-radius: 2rem;
    margin: 1rem 0rem;
    filter: drop-shadow(0px 0px 5px #ffffff);
}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30rem;
    height: 50rem;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
}

.presentation .data-img h1,
.presentation .data-img h2 {
    cursor: default;
    text-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 1));
    font-size: 1.25rem;
    font-family: "Nova Mono", serif;
    font-weight: 400;
    font-style: normal;
}

.cloud-data li,
.cloud-data li a {
    list-style: none;
    text-decoration: none;
}

.cloud-data li {
    margin: 2rem 0rem;
}

.cloud-data li a {
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #ffffff;
    transition: ease-in-out 0.175s;
    font-size: 1rem;
}

.cloud-data li a:hover {
    background-color: #213555c3;
    filter: drop-shadow(0px 0px 5px #ffffff);
}

.special-content li,
.special-content li a {
    list-style: none;
    text-decoration: none;
}

.special-content li {
    margin: 2rem 0rem;
    font-size: 1.25rem;
}

.special-content li a {
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: #213555c3;
    border: 1px dotted #ffffff90;
    transition: ease-in-out 0.175s;
}

.special-content li a:hover {
    background-color: #213555c3;
    border: 1px solid #ffffff90;
    filter: drop-shadow(0px 0px 5px #ffffff90);
}


.resume {
    width: 45rem;
}

.content {
    margin: 2rem 0rem;
    padding: .5rem 1rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .5);
    background-color: rgba(0, 0, 0, .5);
    border-radius: 1rem;
}

.content h1 {
    margin: .5rem 0rem;
    font-family: "Nova Mono", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

.content hr {
    margin: .5rem 4rem;
}

.content ul li,
.content p,
.content ul li a {
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
}

.resume-title {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.15rem;
}

.contact-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact-zone li {
    margin: 1rem 0;
}

.contact-zone li a {
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #ffffff;
    transition: ease-in-out 0.175s;
    font-size: 1rem;
}

.contact-zone li a:hover {
    background-color: #213555c3;
    filter: drop-shadow(0px 0px 5px #ffffff);
}

/* RESPONSIVE DESIGN */
@media(max-width: 965px){
    .portfolio-content {
        margin-top: 5rem;
        justify-content: center;
        flex-direction: column;
        padding: 0 1rem;
    }
    .portfolio-content article img {
        margin-top: 8rem;
        width: 8rem;
    }
    .presentation {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: .9rem;
        width: 100%;
        height: 35rem;
    }
    .resume {
        margin-top: 6rem;
        width: 100%;
    }
    .contact-zone {
        flex-direction: column;
    }
}
@media(max-width: 375px){
    .portfolio-content {
        justify-content: center;
        flex-direction: column;
    }
    .portfolio-content article img {
        width: 6rem;
    }
    .presentation {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 19.5rem;
    }
    .data-img h1,
    .data-img h2 {
        font-size: .3rem;
    }
    .special-content li a,
    .cloud-data li a {
        font-size: .9rem;
    }
    .resume {
        margin-top: 4rem;
        width: 19.5rem;
    }
    .contact-zone {
        flex-direction: column;
    }
}
