<section class="music-content">
    <article class="intro-content">
        <h1>Mezclas de Música Electrónica (EDM)</h1>
        <span><a href="https://soundcloud.com/devsonic" target="_blank"><i class="fa-brands fa-soundcloud"></i> SoundCloud</a></span>
    </article>
    <article class="music-soundcloud">

        <section>
            <iframe class="home-mix-01" width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/2021432893&color=%2324342c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/devsonic" title="Marco Figueroa" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/devsonic/home-mix-01-remake" title="Mix Session 01" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
            <h2 class="home-mix-01-data">House - Dubsetp</h2>
        </section>

        <section>
            <iframe class="hardstyle-set" width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/2028328400&color=%2324342c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/devsonic" title="Marco Figueroa" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/devsonic/hardstyle-set" title="HardStyle Set" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
            <h2 class="hardstyle-set-data">Hard Techno</h2>
        </section>

        <section>
            <iframe class="mix-session-02" width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/2023932544&color=%2324342c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/devsonic" title="Marco Figueroa" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/devsonic/mix-session-02" title="Mix Session 02" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
            <h2 class="mix-session-02-data">House - Hard - Dubsetp</h2>
        </section>
    
    </article>
</section>